<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Magnify Embed Tool | TechnoBuffalo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">


    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-8 body-content solo" id="body-content">

                    <h3 class="header-title"><span class="library">Magnify Library</span><span class="text-muted user">TechnoBuffalo</span></h3>

                    <ul id="video-list" class="list-group video-list">

                    </ul>



                    <footer class="text-center" id="footer">
                        <small>Developed by <strong>Q</strong>. Built for <a href="http://www.technobuffalo.com" target="_blank">TechnoBuffalo</a>. Powered by <a href="http://backbonejs.org/" target="_blank">Backbone.js</a>. 2014.</small>
                    </footer>

                </div>
            </div>
        </div>

        <div class="modal fade" id="embed-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="embed-modal-title">Video Title</h4>
                    </div>
                    <div class="modal-body" id="embed-modal-body">
                        <div id="embed-modal-preview"></div>
                        <div id="embed-modal-codes">

                            <h5><strong>Default: 630px Embed Code</strong></h5>
                            <div id="embed-modal-code-default"></div>

                            <hr>

                            <h5><strong>Large: 960px Embed Code</strong></h5>
                            <div id="embed-modal-code-large"></div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- build:js scripts/main.js -->

        <script data-main="scripts/main" type="text/javascript" src="scripts/require.js"></script>
        <!-- endbuild -->


<script type="text/template" id="templateVideoListItem">
    <img src="<%= thumbnail.url %>" class="img-thumbnail mini pull-left">

    <div class="block-content">
        <h5 class="video-list-title">
            <strong><%= title %></strong>
        </h5>
        <div class="action-wrap">
            <a class="btn btn-default btn-sm action-main" href="#" data-toggle="modal" data-target="#embed-modal">Get Embed Code</a> <a href="<%= link %>" target="_blank" class="btn btn-link btn-sm">View Video</a>
        </div>
    </div>

</script>

<script type="text/template" id="templateVideoEmbedCode">
<iframe src="<%= model.link %>/player?layout=&amp;read_more=1" width="<%= width %>" height="<%= height %>" frameborder="0" scrolling="no"></iframe>
</script>

<script type="text/template" id="templateVideoEmbedBox">
    <textarea class="form-control" rows="3"><%= embed %></textarea>
</script>


    </body>
</html>
