<section id="dev-intro">
    <h3>Introduction</h3>

    <p>
        TechnoBuffalo's CMS is powered by <a href="https://wordpress.org/" target="_blank">Wordpress</a>. The Wordpress theme was developed in part by <a href="http://parapxl.com/" target="_blank">Parapxl</a>, and was original launched around the end of 2011 / beginning of 2012. The site that is currently live on <a href="http://www.technobuffalo.com" target="_blank">TechnoBuffalo.com</a> is the third version, otherwise known as "TechnoBuffalo 3" or "TechnoBuffalo 3.0".
    </p>

</section>

<section id="dev-technology">
    <h3>Technology</h3>

    <h4>Wordpress / PHP</h4>
    <p>
        The Wordpress theme is a child theme of Parapxl's <em><strong>pxl</strong></em> framework. Since it's original launch, much of the theme's setup/function methods have been heavily modified to suite advertising and feature needs.
    </p>
    <div class="highlight">
        <p>
        Below is the breakdown/location of the core .php based files of the theme:
        <pre>
<code>technobuffalo/
├── templates/
│   ├── custom
│   ├── default
│   ├── js
│   ├── partials
├── setup.php</code></pre>
        </p>
    </div>

    <h5>setup.php</h5>
    <p>
        The <em>pxl</em> framework uses the child's <strong>setup.php</strong> file.
    </p>

    <hr>

    <h4>Javascript</h4>
    <p>
</section>