.body-content {}

    .body-content.solo {
        float: none;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .body-content .header-title {
        line-height: 1.4em;
    }
        .body-content .header-title span.library {
            margin-right: 10px;
            font-weight: bold;
        }

        .body-content .header-title span.user {
            font-weight: lighter;
        }

.video-list {

}

    .video-list .video-list-title {
        margin-top: 0;
        line-height: 1.4em;
    }

    .video-list .img-thumbnail.mini {
        width: 85px;
        margin-right: 10px;
        display: block;
        position: relative;
    }

    .video-list .action-wrap {
        display: block;
        margin-bottom: 1.5em;
    }

        .video-list .action-wrap .action-main {
            font-weight: bold;
        }

    .video-list li:hover .action-wrap {
        display: block;
    }

.block-content {
    width: auto;
    overflow: hidden;
}

#embed-modal {

}

    #embed-modal .modal-title {
        font-weight: bold;
    }

    #embed-modal-preview {
        margin-bottom: 20px;
    }

    #embed-modal-preview img {
        width: 100%;
        height: auto;
    }